@font-face {
  font-family: "Outfit";
  src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Young-Serif";
  src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

body {
  background-color: hsl(30, 54%, 90%);
  font-family: "Outfit";
  font-weight: 400;
  font-size: 16px;
  margin: 8em 15em;
}

main {
  background-color: white;
  color: hsl(30, 10%, 34%);
  border-radius: 25px;
  padding: 2em;
}

main img {
  width: 100%;
  margin: auto;
  display: block;
  border-radius: 10px;
}

h1 {
  color: hsl(24, 5%, 18%);
  font-family: "Young-Serif";
}
h2 {
  color: hsl(14, 45%, 36%);
  font-family: "Young-Serif";
}

span {
  color: hsl(332, 51%, 32%);
  padding-left: 20px;
  font-weight: bold;
}

hr {
  border-color: hsl(30, 18%, 87%);
  border-style: solid;
}

.ingr-item,
.inst-item {
  margin: 10px 0px 10px -20px;
  padding-left: 20px;
}

.prep-item {
  margin: 10px 0px;
  padding-left: 20px;
}

#prep {
  background-color: hsl(330, 100%, 98%);
  border-radius: 15px;
  padding: 0.5em;
  padding-top: 1em;
}

.prep-item::marker {
  color: hsl(332, 51%, 32%);
}

#ingr,
#inst,
#nutri {
  padding: 10px 0;
}

.ingr-item::marker,
.inst-item::marker {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

#nutri-table {
  width: 100%;
  border-spacing: 0;
}

.nutri-value {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

@media (max-width: 768px) {
  body {
    margin: 3em;
  }
}

@media (max-width: 375px) {
  body {
    margin: 0em;
  }
  main {
    margin: 0em;

    border-radius: 0px;
  }

  main img {
    border-radius: 0px;
    width: calc(100% + 3.6em);
    margin: -2em;
    margin-bottom: 2em;
  }
}
